back_taman/.classpath
back_taman/.project
back_taman/.settings/
back_taman/imageUpload/
back_taman/profileUpload/
back_taman/target/
front_taman/dist/
front_taman/node_modules/
back_taman/stockMovementReport/
back_taman/approvalUpload/
back_taman/acceptanceUpload/
back_taman/closeProject/
back_taman/contractUpload/
back_taman/efficiencyUpload/
back_taman/incurred/
back_taman/invoiceVer1/
back_taman/invoiceVer2/
back_taman/invoiceVer3/
back_taman/quotation/
back_taman/quotationUpload/
back_taman/closeProjectUpload/
back_taman/incurredUpload/
back_taman/invoiceVer1Upload/
back_taman/invoiceVer2Upload/
back_taman/invoiceVer3Upload/
back_taman/invoiceVer3Uploadvalue/
back_taman/labourContractUpload/
back_taman/.DS_Store
mobile_taman/package-lock.json

back_taman/projectCostFile/
front_taman/package-lock.json
front_taman/bin/
back_taman/bin/

front_taman/.DS_Store
front_taman/src/.DS_Store
front_taman/src/js/.DS_Store
front_taman/src/js/views/.DS_Store
mobile_taman_ionic/.idea/codeStyles/Project.xml
front_taman/package-lock.json
mobile_taman_ionic/.idea/mobile_taman_ionic.iml
mobile_taman_ionic/.idea/modules.xml
mobile_taman_ionic/.idea/vcs.xml
mobile_taman_ionic/package-lock.json
mobile_taman_ionic/package-lock.json
mobile_taman_ionic/android/*
mobile_taman_ionic/ios/*
/.metadata/
