<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
	<h3 style="font-weight: normal; margin: 20px 0;"
		th:text="${welcomeMessage}"></h3>
	<p style="font-size: 15px; line-height: 18px; color: red">Lưu ý:
		Đây là email tự động, xin vui lòng không trả lời email này.</p>
	<p style="line-height: 18px;">
		<span style="font-weight: bold;font-size: 18px;">Bạn nhận được Yêu Cầu Duyệt Thanh Toán Chi Tiết Đợt</span> <span style="font-weight: bold;font-size: 18px;" th:text="${projectCost.paymentType}"></span> 
		<br/><span style="font-weight: bold;font-size: 15px;"> Người Gửi:</span> <span style="font-size: 14px;"th:text="${sender.fullName}"></span> 
		
		 <br />
		 <span style="font-size: 15px;font-weight: bold;">Công Ty:</span> <span style="font-size: 14px;" th:text="${company.name}"></span> <br/>
		<span style="font-weight: bold;font-size: 15px;">Dự Án: </span><span style="font-size: 14px;" th:text="${projectDetail.project.name}"></span><br /> 
		<span style="font-weight: bold;font-size: 15px;">Công Việc: </span><span style="font-size: 14px;" th:text="${projectDetail.name}"></span><br /> 
			<span style="font-weight: bold;font-size: 15px;">Nội Dung: </span><span style="font-size: 14px;" th:text="${projectCost.title}"></span> - <span style="font-weight: bold;font-size: 15px;">Số Đợt: </span><span style="font-size: 14px;" th:text="${projectCost.lotNumber}"></span><br />
			 <br/> Duyệt Bởi: <span th:text="${approvalBy.fullName}"></span> 
			<span style="font-weight: bold;font-size: 15px;">Đợt Chi Tiết: </span><span style="font-size: 14px;" th:text="${payment.lotNumber}"></span><br />
			 <span style="font-weight: bold;font-size: 15px;">% Yêu Cầu Thanh Toán: </span><span style="font-size: 14px;font-style: italic;" th:text="${payment.percentPaid}"></span><br />
			 <span style="font-weight: bold;font-size: 15px;">Tiền Cần Thanh Toán: </span><span style="font-size: 14px;font-style: italic;" th:text="${#numbers.formatDecimal(payment.moneyPaid, 0, 'COMMA', 0, 'POINT')}"></span><br />
			 
	</p>
	<p style="font-size: 15px; line-height: 18px;">
		Vui lòng nhấn vào <a th:href="${paymentApprovalUrl}">Duyệt Chi Tiết Đợt Thanh Toán </a> để đi đến màn hình duyệt.
	</p>
	
	<p style="font-size: 15px; line-height: 18px;">Trân trọng cảm ơn.</p>
</body>
</html>

